<form id="chat">
    <input type="email" name="user" id="user" placeholder="mail">
    <input type="text" name="message" id="message" placeholder="mensaje">
    <input type="submit" value="enviar">
</form>