<form id="form">
    <input type="text" id="producto" name="producto" placeholder="producto">
    <input type="number"id="precio" name="precio" placeholder="precio">
    <input type="file"id="file" name="file">
    <input id="btn" type="submit" value="agregar producto">
</form>