{{#if productsExist}}
<div>
    <table>
        <tr> 
            <th>nombre</th><th>precio</th> <th>foto</th>
    {{#each products}}
        <tr>
            <td id="productoOutput"></td>
            <td id="precioOutput"></td>
            <td></td>
        </tr>    
    {{/each}} 
        </tr> 
    </table>
</div>  
{{else}}
    <h3>no hay productos</h3>
{{/if}}